body {
    background-color: #1a1a1a; /* ダークグレーの背景色 */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f5; /* テキストカラーをライトグレーに */
}

.profile {
    background-color: #2b2b2b; /* ダークグレーの背景色 */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* 高級感を出すボックスシャドウ */
}

.profile #icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #d4af37; /* ゴールドのボーダー */
    margin-bottom: 10px;
}

.profile #name {
    color: #d4af37; /* ゴールドのテキストカラー */
    font-weight: bold;
    font-size: 160%;
    margin: 10px 0;
}

.profile #lore {
    font-size: 110%;
    margin: 5px 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button a {
    text-decoration: none;
    margin: 10px 0;
}

.button button {
    width: 400px;
    padding: 20px;
    font-size: 1em;
    color: #1a1a1a; /* ボタンのテキストカラーをダークグレーに */
    background-color: #d4af37; /* ゴールドの背景色 */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* ボックスシャドウ追加 */
}

.button button:hover {
    background-color: #b8860b; /* ホバー時の色を濃いゴールドに */
    border-radius: 30px;
    transform: translateY(-2px); /* ホバー時に少し浮かせる */
}

.button img {
    width: 38px;
}
